<header>
    <h1>Axi Hotel</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/AboutUs">Nosotros</a> |
        <a href="/Services">Servicios</a> |
        <a href="/Contact">Contáctenos</a> |
        <a href="/Login">Iniciar sesión</a> |
        <a href="/Register">Registrarse</a>
    </nav>
</header>
<hr>

