<section>
    <h2>Contáctenos</h2>
    <form>
        <label>Nombre:</label>
        <input type="text" name="nombre"><br>
        <label>Mensaje:</label>
        <textarea name="mensaje"></textarea><br>
        <button type="submit">Enviar</button>
    </form>
</section>