<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../Partials/Head') %>
</head>
<body>

    <%- include('../Partials/Header') %>

    <main>
        <%- body %>
    </main>

    <%- include('../Partials/Footer') %>

</body>
</html>

